#exportPattern("^[[:alpha:]]+")

export(cvTest,quantileTest,signTest,var1Test,wspoissonTest,wsrTest,
       medianTest, bfTest, pbf, qbf, bfControl)

import(exact2x2, exactci, bpcp, ssanv, coin)

importFrom(stats, sd,var, 
    pt, 
    pbinom, rbinom, 
    rgamma, qgamma, pgamma,
    qchisq, pchisq,
    quantile, 
    wilcox.test,
    uniroot)
 importFrom("stats", "dt", "integrate", "qt", "rt", "setNames", "terms")

S3method(quantileTest,default)
S3method(quantileTest,ordered)
S3method(bfTest, default)
S3method(bfTest, formula)
